$color-main: #3c3c3c;
$color-main-light: lighten($color-main, 5%);
$color-main-lighter: lighten($color-main, 10%);
$color-main-lightest: lighten($color-main, 15%);
$color-main-dark: darken($color-main, 5%);
$color-main-darker: darken($color-main, 10%);
$color-main-darkest: darken($color-main, 15%);
$color-main-transparent: transparentize($color-main-darker, .3);
$color-divider: transparentize($color-main-darker, .3);
$text-color-main: #ffffff;
$text-color-selected: #969696;

.App {
  background: $color-main;
  min-height: 100vh;
  padding: 1rem;
  border: 1px solid black;

  * {
    color: $text-color-main;
    #border: 1px solid black;
  }
}

.Tab {
  border: 2px solid $color-main-darkest;
}

.NavHeader {
  background: $color-main-light;
  display: flex;
  padding: 5px;

  .NavLogo {
    margin-right: 2rem;

    div {
      display: none;
    }
  }

  @media screen and (min-width: 800px) {
    .NavLogo {
      div {
        display: inline-flex;
      }
    }
  }
}

.LoginPanel {
  margin-left: 2rem;
  display: flex;

  .PanelText {
    display: none;
  }

  @media screen and (min-width: 800px) {
    .PanelText {
      display: initial;
    }
  }
}

.PopoverTabs {
  border-top: 2px solid $color-main-darkest;
  border-left: 2px solid $color-main-darkest;
  border-right: 2px solid $color-main-darkest;
}

.SignInForm {
  display: flex;
  flex-direction: column;
  border: 2px solid $color-main-darkest;
}
.SignUpForm {
  display: flex;
  flex-direction: column;
  border: 2px solid $color-main-darkest;
}

.SearchForm {
  margin: auto;

  display: flex;
  width: 30rem;
  min-width: 8rem;

  .SearchFormTextField {
    width: 100%;

    * {
      color: $text-color-main;
    }
  }
}

.CategoriesButtons {
  background: $color-main-darker;
  display: flex;
  flex-flow: wrap;

  min-width: 20rem;
}

.CatalogPage {
  background: $color-main-darkest;
  color: $text-color-main;
}

.GamesGrid {
  display: grid;

  list-style: none;

  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  justify-content: space-evenly;

  padding: 1rem 2rem;
  gap: 1rem 2rem;
}

.GameCard {
  background: $color-main-darker;

  position: relative;
  max-width: 300px;
  height: 100%;

  display: flex;
  flex-flow: column;

  border-radius: 5%;

  transition: .5s;

  .GameImg {
    width: auto;
    border-radius: 5%;
    border: 5px solid $color-main-darker;
  }


  .GameCardOverlay {
    background: $color-main-transparent;

    border-radius: 10%;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;

    text-align: center;
    overflow: hidden;

    transition: .5s;
    height: 0;
    opacity: 0;

    display: flex;
    flex-direction: column;
  }

  &:hover {
    .GameCardOverlay {
      opacity: 1;
      height: 40%;
    }
  }

}

.GamePage {
  color: $text-color-main;

  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;

  display: grid;

  gap: 20px;
  padding: 10px;

  grid-template-areas:
  "img img"
  "img img"
  "title title"
  "buttons buttons"
  "desc desc"
  "carousel carousel"
  "reviews reviews";

  //grid-template-columns: minmax(10rem, auto) min(20px) auto;
  grid-template-columns: repeat(auto-fit, minmax(min(10rem, 20px), auto));

  @media screen and (min-width: 600px) {
    grid-template-areas:
    "title img img"
    "buttons img img"
    "desc desc desc"
    "carousel carousel carousel"
    "carousel carousel carousel"
    "reviews reviews reviews";

    img {
      grid-area: img;
      justify-self: flex-end;
    }
  }

  h2 {
    grid-area: title;
    align-self: flex-end;
  }

  img {
    grid-area: img;
    justify-self: center;
  }

  .GamePageButtons {
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-self: flex-end;
  }

  .GameDescription {
    grid-area: desc;
    justify-self: center;
  }
  .ScreenshotCarousel {
    grid-area: carousel;

    list-style: none;
    padding: 0;

    border: 2px solid $color-main-darkest;
  }

  .ReviewsList {
    grid-area: reviews;

  }
}

.ReviewsList {


  max-width: 100ch;

  .ReviewListItem {
    * {
     color: $text-color-main;
    }

    .Votes {
      display: flex;
      flex-direction: column;
    }
  }
}

.ReviewForm {
  .ReviewFormInput {

  }
}
