$color-main: #4b4b4b;
$color-main-dark: darken($color-main, 5%);
$color-main-darker: darken($color-main, 10%);
$color-main-darkest: darken($color-main, 15%);
$color-main-transparent: transparentize($color-main-darker, .3);
$text-color-main: #ffffff;
$text-color-selected: #969696;

.App {
  background: $color-main;
  height: 100vh;
}

* { #border: 1px solid black}

.NavHeader {
  background: $color-main-dark;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;

  font-size: 4vh;
  font-weight: 500;

  * {
    color: $text-color-main;
    text-decoration: none;
  }

  .NavLogo {
    margin-inline: min(20px);

    transition: .2s;

    &:hover {
      color: $text-color-selected;
    }
  }


  .NavTabs {
    * {
      margin-inline-end: min(1rem);
      transition: .2s;

      &:hover {
        color: $text-color-selected;
        border-bottom: 4px solid $color-main-darker;
      }
    }
  }
}

.SearchForm {
  display: flex;
  width: fit-content;

  padding: 1rem;
  border: 2px solid $color-main-darkest;
  border-radius: 15px;
}

.LoginPanel {
  background: $color-main-darker;

  width: 100%;
  max-width: 400px;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  border: 2px solid $color-main-darkest;
  border-radius: 10%;
  padding: 1rem;

  .LoginForm {
    display: flex;
    flex-direction: column;

    padding: 1rem;

    * {
      color: $text-color-main;
    }
  }
}

.CatalogPage {
  background: $color-main-darkest;
  color: $text-color-main;
  height: auto;
}

.GamesList {
  display: grid;

  gap: 15px;
  padding: 15px;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;

  .GameCard {
    background: $color-main-darker;

    position: relative;
    display: flex;
    flex-flow: column;

    border-radius: 5%;

    transition: .5s;

    margin: 20px;

    .GameImg {
      width: auto;
      border-radius: 5%;
      border: 5px solid $color-main-darker;
    }

    .GameCardOverlay {
      background: $color-main-transparent;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      opacity: 0;

      text-align: center;
      overflow: hidden;

      width: auto;
      height: 0;

      transition: .5s;

      border-radius: 20px;

      * {
        background: transparent;
        padding: 1rem;
      }

      .GameCardOverlayIcons {
        display: flex;
        justify-content: space-evenly;
        align-content: flex-end;

        Button {
          background: $color-main-darker;
          border: 5px solid $color-main-darkest;
          border-radius: 40%;
          transition: .5s;

          &:hover {
            background: $color-main-dark;
            border-radius: 20%;
            scale: 1.2;
          }

          &:active {
            scale: .9;
          }
        }
      }
    }

    &:hover {
      height: auto;

      scale: 1.1;
      z-index: 1;

      .GameCardOverlay {
        opacity: 1;
        height: 80%;
      }
    }
  }
}

.GamePanel {

  width: 100%;
  max-width: 800px;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  color: $text-color-main;

  .GamePanelDetails {
    display: grid;
    grid-template: "a b";
    gap: 20px;
    padding: 10px;
  }
}

.TabList {
  display: flex;
  justify-content: space-evenly;

  list-style: none;
  padding: 0;
}

.Tab {
  height: auto;

  color: $text-color-main;
  font-size: 36px;

  border: 2px solid $color-main-darkest;
  border-radius: 5%;

  padding: 1rem;

  transition: .2s;

  &:hover {
    background: $color-main-dark;
  }

  &:active {
    color: black;
    translate: 0 5%;
  }
}

.ProfilePanel {

  width: 100%;
  max-width: 800px;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);


}